@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Rajdhani:wght@500;600&display=swap");

$text: "Rajdhani", sans-serif;

$hover-color: #8d99ae;

@mixin layoutFlex($direction, $justify) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

.wrapper {
  height: 100vh;
  width: 100%;
  @include layoutFlex(row, center);
  align-items: center;
  background: #d7e3fc;
  .calc-container {
    width: 21rem;
    min-height: 70vh;
    background: #212529;

    @include layoutFlex(column, center);
    align-items: center;
    padding: 0.5rem;

    #display-screen {
      width: 100%;
      min-height: 5rem;
      font-size: 1.7rem;
      @include layoutFlex(column, space-evenly);
      align-items: flex-end;
      gap: 1rem;
      overflow-x: auto;

      #display {
        font-family: $text;
        color: #fff;
        margin-right: 1rem;
      }
      #output {
        font-family: $text;
        color: #fca311;
      }
    }
    .btn-container {
      margin-top: 0.5rem;
      flex: 1;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(4, 1fr);

      #add,
      #subtract,
      #divide,
      #multiply {
        background: #6c757d;
        &:hover {
          background: $hover-color;
        }
      }
      #clear {
        grid-column: 1/3;
        background: #c9184a;
        &:hover {
          background: $hover-color;
        }
      }
      #zero {
        grid-column: 1/3;
      }

      #equals {
        background: #fb8500; //#757bc8;
        grid-column: 4/5;
        grid-row: 4/6;
        &:hover {
          background: $hover-color;
        }
      }

      .btn {
        font-family: $text;
        outline: none;
        border: none;
        background: #495057;
        font-size: 1.5rem;
        padding: 1.2rem;
        color: #fff;
        &:hover {
          background: $hover-color;
        }
      }
    }
  }
}
